html,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8fa;
  min-height: 100%;
}

body.bp3-dark {
  background-color: #24292e;
}

.scrollarea .scrollbar-container.scrollbar-container.scrollbar-container {
  opacity: 0.02;
}
.scrollarea:hover .scrollbar-container.scrollbar-container.scrollbar-container {
  opacity: 0.3;
}

.bp3-control-group > :first-child,
.bp3-control-group > :first-child .bp3-button {
  border-radius: 3px 0px 0px 3px;
  margin-right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
